:root {
  /*FONT*/
  --font-dm-sans: "DM Sans", sans-serif;

  /*COLORS*/
  --bg-icon: #131313;
  --bg-arrow-color: rgba(0, 0, 07);
  --white: #b3b3b3;
  --black: #000;
  --black2: #141414;
  --black3: #121212;
}